<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>titleCn</key>
		<string>Ecigarfan</string>
		<key>titleEn</key>
		<string>Ecigarfan</string>
		<key>website</key>
		<string>http://www.ecigarfan.com</string>
		<key>image</key>
		<string>ecigarfan</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>titleCn</key>
		<string>facebook</string>
		<key>titleEn</key>
		<string>facebook</string>
		<key>website</key>
		<string>http://www.facebook.com</string>
		<key>image</key>
		<string>facebook</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>titleCn</key>
		<string>google</string>
		<key>titleEn</key>
		<string>google</string>
		<key>website</key>
		<string>http://www.google.com</string>
		<key>image</key>
		<string>google</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>titleCn</key>
		<string>youtube</string>
		<key>titleEn</key>
		<string>youtube</string>
		<key>website</key>
		<string>http://www.youtube.com</string>
		<key>image</key>
		<string>youtube</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>titleCn</key>
		<string>yahoo</string>
		<key>titleEn</key>
		<string>yahoo</string>
		<key>website</key>
		<string>http://www.yahoo.com</string>
		<key>image</key>
		<string>yahoo</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>titleCn</key>
		<string>twitter</string>
		<key>titleEn</key>
		<string>twitter</string>
		<key>website</key>
		<string>http://www.twitter.com</string>
		<key>image</key>
		<string>twitter</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>titleCn</key>
		<string>ebay</string>
		<key>titleEn</key>
		<string>ebay</string>
		<key>website</key>
		<string>http://www.ebay.com</string>
		<key>image</key>
		<string>ebay</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>titleCn</key>
		<string>hao123</string>
		<key>titleEn</key>
		<string>hao123</string>
		<key>website</key>
		<string>http://www.hao123.com</string>
		<key>image</key>
		<string>hao123</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>titleCn</key>
		<string>百度</string>
		<key>titleEn</key>
		<string>Baidu</string>
		<key>website</key>
		<string>http://www.baidu.com</string>
		<key>image</key>
		<string>baidu</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>titleCn</key>
		<string>腾讯</string>
		<key>titleEn</key>
		<string>QQ</string>
		<key>website</key>
		<string>http://www.qq.com</string>
		<key>image</key>
		<string>qq</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>titleCn</key>
		<string>凤凰</string>
		<key>titleEn</key>
		<string>ifeng</string>
		<key>website</key>
		<string>http://www.ifeng.com</string>
		<key>image</key>
		<string>ifeng</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>titleCn</key>
		<string>亚马逊</string>
		<key>titleEn</key>
		<string>amazon</string>
		<key>website</key>
		<string>http://www.amazon.com</string>
		<key>image</key>
		<string>amazon</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>titleCn</key>
		<string>环球</string>
		<key>titleEn</key>
		<string>huanqiu</string>
		<key>website</key>
		<string>http://www.huanqiu.com</string>
		<key>image</key>
		<string>huanqiu</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>titleCn</key>
		<string>天猫</string>
		<key>titleEn</key>
		<string>tmall</string>
		<key>website</key>
		<string>http://www.tmall.com</string>
		<key>image</key>
		<string>tmall</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>titleCn</key>
		<string>今日头条</string>
		<key>titleEn</key>
		<string>toutiao</string>
		<key>website</key>
		<string>http://www.toutiao.com</string>
		<key>image</key>
		<string>toutiao</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>titleCn</key>
		<string>网易</string>
		<key>titleEn</key>
		<string>163</string>
		<key>website</key>
		<string>http://www.163.com</string>
		<key>image</key>
		<string>163</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>titleCn</key>
		<string>新浪</string>
		<key>titleEn</key>
		<string>sina</string>
		<key>website</key>
		<string>http://www.sina.com.cn</string>
		<key>image</key>
		<string>sina</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>titleCn</key>
		<string>京东</string>
		<key>titleEn</key>
		<string>JD</string>
		<key>website</key>
		<string>http://www.JD.com</string>
		<key>image</key>
		<string>JD</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>titleCn</key>
		<string>驱动之家</string>
		<key>titleEn</key>
		<string>mydrivers</string>
		<key>website</key>
		<string>http://www.mydrivers.com</string>
		<key>image</key>
		<string>mydrivers</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>titleCn</key>
		<string>太平洋电脑网</string>
		<key>titleEn</key>
		<string>pconline</string>
		<key>website</key>
		<string>http://www.pconline.com.cn</string>
		<key>image</key>
		<string>pconline</string>
		<key>status</key>
		<string>0</string>
	</dict>
</array>
</plist>
